@import 'bootstrap.css';

/**
* Variables
*/
$box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
$text-shadow: 0px 0px 10px rgba(0,0,0,0.1);

$background-gradient: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
$background-color: #861657;

$primary-color: #861657;
$secondary-color: #ffa69e;

/**
* Global
*/

/**
* Content Holder
*/
.content-hold{
    margin-top: 60px;

}

/**
* Badge
*/
.badge{
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.badge-primary{
    background: $primary-color;
    color: white;
}

/**
* Pagination
*/
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    li{
        display: inline;
        padding: 10px;
        margin: 0px 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        a{
            text-decoration: none;
            color: #333;
        }

        &.active{
            background: $primary-color;
            color: white;
        }

        &.disabled{
            cursor: not-allowed;
            opacity: 0.5;
        }

        &:hover{
            background: $primary-color;
            color: white;

            a{
                color: white;
            }
        }
    }
}

/**
* ALerts hold
*/
.alert-hold{
    position: fixed;
    top: 70px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    padding: 20px;
    text-align: center;

    width: 500px;
    margin: 0% auto;

    .alert{
        padding-right: 1rem;
        p{
            margin-bottom: 0px;
        }
    }
}

/**
* Components
*/

/**
* Forms
*/
.form-group{
    margin-bottom: 20px;

    h3{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .inline-form-group{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        margin-bottom: 20px;

        .form-input{
            width: 48%;
        }
    }

    .form-input{
        margin-bottom: 20px;

        .picture{
            text-align: left;
            margin-bottom: 20px;

            img{
                max-width: 100px;
                border-radius: 50%;
            }
        }

        label{
            display: block;
            margin-bottom: 10px;
            font-weight: 600;
        }

        p{
            color: #333;
            font-size: 14px;
        }

        input[type="text"], 
        input[type="email"],
        input[type="password"],
        input[type="file"],
        input[type="date"],
        input[type="number"],
        input[type="tel"],
        textarea, 
        select{
            width: 100%;
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        textarea{
            height: 100px;
        }

        &:last-child{
            margin-bottom: 0px;
        }
    }

    &:last-child{
        margin-bottom: 0px;
    }
}

/**
* Buttons
*/
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &.primary{
        background: $primary-color;
        color: white;

        &:hover{
            background: darken($primary-color, 10%);
        }
    }

    &.secondary{
        background: $secondary-color;
        color: #fff;
        border: 1px solid #e0e0e0;

        &:hover{
            background: darken($secondary-color, 10%);
        }
    }

    &.skinny{
        padding: 5px 10px;
    }

    &.primary-hollow{
        background: white;
        color: $primary-color;
        border: 1px solid $primary-color;

        &:hover{
            background: $primary-color;
            color: white;
        }
    }
}


/**
* Header
*/
.header-main{
    background: white;

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;

    z-index: 1000;

    box-shadow: $box-shadow;

    height: 60px;
    width: 100%;

    .header-main-inner{

        .header-main-row{

            .header-branding{

                .header-branding-inner{
                    padding-top: 2px;
                    
                    a{

                        img{
                            max-width: 50px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .header-search{
                padding-top: 6px;

                .header-search-inner{

                    form{

                        input{
                            border: 1px solid #e0e0e0;
                            border-radius: 5px;
                            padding: 10px;
                            width: 100%;

                            background: #e0e0e0;

                            &:focus{
                                background: white;
                                outline: none;
                            }
                        }

                        button{
                            background: #f8f8f8;
                            border: 1px solid #e0e0e0;
                            border-radius: 5px;
                            padding: 10px;
                            margin-left: 10px;
                            position: relative;
                            top: -20px;
                        }
                    }
                }
            }

            .header-navigation{
                padding-top: 6px;

                .header-navigation-inner{
                    padding-top: 8px;

                    ul{
                        list-style: none;
                        padding: 0px;
                        margin: 0px;
                        text-align: right;

                        li{
                            display: inline;
                            margin-right: 20px;

                            a{
                                text-decoration: none;
                                color: #333;
                            }
                        }

                        li.profile_picture{
                            margin-right: 20px;

                            a{

                                img{
                                    max-width: 35px;
                                    border-radius: 50%;
                                }
                            }
                        }

                        li.dropdown{
                            margin-right: 20px;

                            a{
                                text-decoration: none;
                                color: #333;
                            }
                        }
                    }
                }

                .header-dropdown{
                    position: absolute;
                    top: 65px;
                    right: 60px;
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    width: 300px;

                    ul{
                        list-style: none;
                        padding: 0px;
                        margin: 0px;

                        li{
                            margin-bottom: 20px;

                            a{
                                text-decoration: none;
                                color: #333;
                            }

                            &:hover{
                                a{
                                    color: $primary-color;
                                }
                            }
                        }

                        li:last-child{
                            margin-bottom: 0px;
                        }
                    }
                }

                .header-dropdown.hidden{
                    display: none;
                }
            }
        }
    }
}

/**
* Footer
*/

/**
* Pages
*/
.page{
    min-height: 100vh;
    background: #f8f8f8;

    .page-header{
        background-color: $background-color;
        background-image: $background-gradient;

        width: 100%;
        padding: 60px 0px;


        .page-header-container{
            padding: 20px;
            border-radius: 5px;

           .page-header-title{
                margin-bottom: 20px;
    
                h1{
                     font-size: 40px;
                     text-shadow: $text-shadow;
                     color: white;
                }
           }

           .page-header-subtext{

                h2{
                    font-size: 30px;
                    font-weight: 300;

                    color: white;
                }
           }
        }
    }

    .page-content{
        padding: 20px;

        .page-row{
            margin-bottom: 20px;
            justify-content: space-between;

        }
    }
}

/**
* Onboarding
*/
.onboarding-content{
    padding-top: 60px;
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);

    .onboarding-content-inner{
        
        .onboarding-content-header{
            margin-bottom: 50px;
            text-align: center;
            color: white;
            padding: 20px;

            h1{
                font-size: 40px;
            }

            p{
                font-size: 20px;
            }
        }

        .onboarding-content-box{
            background: white;
            border-radius: 5px;
            padding: 20px;
            box-shadow: $box-shadow;

            width: 500px;
            margin: 0 auto;

            .onboarding-content-box-form{

                form{

                    .onboarding-form-area{
                        margin-bottom: 20px;

                        h2{
                            font-size: 30px;
                            margin-bottom: 20px;
                        }

                        .form-area-elements{
                            margin-bottom: 20px;

                            .profile_picture{
                                text-align: left;
                                margin-bottom: 20px;

                                img{
                                    max-width: 100px;
                                    border-radius: 50%;
                                }
                            }

                            .form-area-elements-inline{
                                display: flex;
                                gap: 10px;
                                justify-content: space-between;
                                margin-bottom: 20px;

                                .form-area-element{
                                    width: 48%;

                                    label{
                                        display: block;
                                        margin-bottom: 10px;
                                    }

                                    input{
                                        width: 100%;
                                        padding: 10px;
                                        border: 1px solid #e0e0e0;
                                        border-radius: 5px;
                                    }

                                }
                            }

                            .form-area-element{

                                label{
                                    display: block;
                                    margin-bottom: 10px;
                                }

                                input, textarea{
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #e0e0e0;
                                    border-radius: 5px;
                                }

                                textarea{
                                    height: 100px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Settings
*/
.settings-page{

    .page-content{

        .row{
            align-items: flex-start;
 
            .left-navigation{
                background: white;
                border-radius: 5px;
                box-shadow: $box-shadow;
                border: 1px solid #eee;
                padding: 0px;

                .left-navigation-header{
                    border-bottom: 1px solid #eee;
                    padding: 20px;
                    padding-bottom: 10px;

                    h2{
                        font-size: 30px;
                    }
                }

                .left-navigation-menu{

                    ul{
                        list-style: none;
                        padding: 0px;
                        margin: 0px;

                        li{
                            padding: 10px;
                            padding-left: 20px;

                            a{
                                text-decoration: none;
                                color: #333;
                            }

                            &.active{
                                background: $background-color;
                                padding-left: 20px;

                                a{
                                    color: white;
                                }
                            }

                            &:hover{
                                background: $background-color;
                                padding-left: 20px;

                                a{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .settings-content{
                

                .settings-content-inner{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;

                    .settings-content-form-header{
                        margin-bottom: 20px;

                        h2{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Profile
*/
.profile-page{

    .profile-page-header{
        background-color: $background-color;
        background-image: $background-gradient;

        width: 100%;
        padding: 60px 0px;

        .page-header-container{
            padding: 20px;
            border-radius: 5px;

            .profile-page-header-inner{


                .profile-page-header-image{
                    text-align: center;

                    img{
                        max-width: 200px;
                        border-radius: 50%;
                    }
                }

                .profile-page-header-content{

                    .profile-page-header-content-inner{
                        padding-top: 20px;
    
                        .profile-page-header-content-title{
                            margin-bottom: 10px;
                            text-align: center;
    
                            h1{
                                font-size: 40px;
                                color: white;
                            }
                        }

                        .profile-page-header-content-subtitle{
                            text-align: center;
    
                            h2{
                                font-size: 20px;
                                font-weight: 300;
    
                                color: white;
                            }
                        }

                        .profile-page-header-content-social-media-icons{
                            text-align: center;
                            margin-top: 20px;
    
                            ul{
                                list-style: none;
                                padding: 0px;
                                margin: 0px;
    
                                li{
                                    display: inline;
                                    margin-right: 20px;
    
                                    a{
                                        text-decoration: none;
                                        color: white;
                                    }
                                }

                                li:last-child{
                                    margin-right: 0px;
                                }
                            }
                        }

                        .profile-page-header-content-actions{
                            padding-top: 20px;
                            
                            text-align: center;
                            
                        }
                    }
                }
            }
        }
    }

    .profile-page-inline-navigation{
        background: white;
        border-radius: 5px;
        box-shadow: $box-shadow;
        border: 1px solid #eee;
        padding: 20px;
        margin-bottom: 20px;

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            text-align: center;

            li{
                display: inline;
                margin-right: 40px;

                a{
                    text-decoration: none;
                    color: #333;
                }
            }

            li:hover, li.active{
                border-bottom: 2px solid $background-color;
                padding-bottom: 20px;

                a{
                    color: $background-color;
                }
            }

            li:last-child{
                margin-right: 0px;
            }
        }
    }   

    .profile-page-content{
        padding: 20px;

        .profile-page-content-inner{

            .profile-page-resume-content-middle{
                background: white;
                border-radius: 5px;
                box-shadow: $box-shadow;
                border: 1px solid #eee;
                padding: 20px;
                margin-bottom: 20px;

                .profile-page-content-header{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    h1{

                    }
                }
            }

            .profile-page-about-content-middle{

                .profile-page-about-cover-letter{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-cover-letter-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-cover-letter-content{

                        p{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }

                .profile-page-about-skills{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-skills-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-skills-content{

                        .profile-page-about-skills-content-item{
                            // Inline pill style
                            display: inline-block;
                            padding: 7px 12px;
                            background: $primary-color;
                            border-radius: 5px;
                            margin-right: 5px;

                            p{
                                color: white;
                                font-weight: 600;
                            }
                        }

                        p{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }

                .profile-page-about-experience{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-experience-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-experience-content{

                        .profile-page-about-experience-content-item{
                            margin-bottom: 20px;

                            h3{
                                font-size: 20px;
                                margin-bottom: 10px;
                            }

                            p{
                                font-size: 16px;
                                margin-bottom: 0px;
                            }

                            p.dates{
                                color: #aaa;
                            }

                            &:last-child{
                                margin-bottom: 0px;
                            }

                            .experience-actions{
                                margin-top: 10px;
                            }
                        }

                        p.no_experience{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }

                .profile-page-about-education{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-education-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-education-content{

                        .profile-page-about-education-content-item{
                            margin-bottom: 20px;

                            h3{
                                font-size: 20px;
                                margin-bottom: 10px;
                            }

                            p{
                                font-size: 16px;
                                margin-bottom: 0px;
                            }

                            p.dates{
                                color: #aaa;
                            }

                            &:last-child{
                                margin-bottom: 0px;
                            }

                            .education-actions{
                                margin-top: 10px;
                            }
                        }

                        p.no_education{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

.tags{

    .tag{
        display: inline-block;
        padding: 5px 10px;
        background: $primary-color;
        border-radius: 5px;
        margin-right: 5px;
        
        p{
            color: white;
            font-weight: 600;
        }
    }
}

/**
* Page: Auth
*/
.auth-page{
    
    .auth-page-header{
        
    }

    .auth-page-content{

        .auth-page-content-inner{
            background: white;
            border-radius: 5px;
            box-shadow: $box-shadow;
            border: 1px solid #eee;
            padding: 20px;
            margin: 0% auto;

            width: 500px;

            .auth-page-content-form-header{
                margin-bottom: 20px;

                h2{
                    font-size: 30px;
                }
            }
        }
    }
}

/**
* Page: Dashboard
*/
.dashboard-page{

    .dashboard-header{
        background-color: $background-color;
        background-image: $background-gradient;

        width: 100%;
        padding: 40px 0px;

        .page-header-container{
            padding: 20px;
            border-radius: 5px;

            .dashboard-page-header-inner{

                .dashboard-page-header-content{
                    text-align: center;

                    h1{
                        font-size: 40px;
                        color: white;
                    }

                    p{
                        font-size: 20px;
                        color: white;
                    }
                }
            }
        }
    }

    .dashboard-page-inline-navigation{
        background: white;
        border-radius: 5px;
        box-shadow: $box-shadow;
        border: 1px solid #eee;
        padding: 20px;
        margin-bottom: 20px;

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            text-align: center;

            li{
                display: inline;
                margin-right: 40px;

                a{
                    text-decoration: none;
                    color: #333;
                }
            }

            li:hover, li.active{
                border-bottom: 2px solid $background-color;
                padding-bottom: 20px;

                a{
                    color: $background-color;
                }
            }

            li:last-child{
                margin-right: 0px;
            }
        }
    }

    .dashboard-page-content{
        padding: 0px;

        .page-row{

            .dashboard-content.left-filter{
                background: white;
                border-radius: 5px;
                box-shadow: $box-shadow;
                border: 1px solid #eee;
                padding: 20px;
                margin-bottom: 20px;

                .dashboard-content-filters-inner{

                    .dashboard-content-filters-header{
                        margin-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .dashboard-content-inner{

                        .dashboard-content-item{
                            margin-bottom: 20px;

                            h3{
                                font-size: 20px;
                                margin-bottom: 10px;
                            }

                            p{
                                font-size: 16px;
                                margin-bottom: 0px;
                            }

                            p.dates{
                                color: #aaa;
                            }

                            &:last-child{
                                margin-bottom: 0px;
                            }

                            .item-actions{
                                margin-top: 10px;
                            }
                        }

                        p.no_items{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .dashboard-content.posts-container{

                .dashboard-content-inner{

                    .dashboard-content-creator{
                        background: white;
                        border-radius: 5px;
                        box-shadow: $box-shadow;
                        border: 1px solid #eee;
                        padding: 20px;
                        margin-bottom: 20px;

                        .dashboard-content-creator-top{
                            display: flex;
                            justify-content: flex-start;
                            margin-bottom: 20px;
                            padding-bottom: 10px;

                            border-bottom: 1px solid #eee;

                            .dashboard-content-creator-image{
                                text-align: left;

                                img{
                                    max-width: 40px;
                                    border-radius: 50%;
                                }
                            }

                            .dashboard-content-creator-name{
                                padding-left: 10px;

                                position: relative;
                                top: -2px;

                                h2{
                                    font-size: 16px;
                                    margin-bottom: 0px;
                                }

                                h4{
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #aaa;
                                }
                            }
                        }
                    }

                    .dashboard-content-creator-input{

                        form{

                            textarea{
                                width: 100%;
                                padding: 0px;
                                border: none;
                                border-radius: 5px;
                                height: 50px;
                                outline: none;
                                resize: none;
                            }

                            .content-creator-bottom{
                                display: flex;
                                justify-content: space-between;
                                margin-top: 20px;

                                border-top: 1px solid #eee;
                                padding-top: 20px;

                                .content-creator-bottom-left{
                                    display: flex;
                                    gap: 10px;

                                    .content-creator-bottom-left-photo{

                                        input{
                                            display: none;
                                        }

                                        label{
                                            padding: 10px 14px;
                                            background: #f8f8f8;
                                            border-radius: 5px;
                                            cursor: pointer;
                                        }
                                    }

                                    .content-creator-bottom-left-file{

                                        input{
                                            display: none;
                                        }

                                        label{
                                            padding: 10px 14px;
                                            background: #f8f8f8;
                                            border-radius: 5px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }

                            .content-creator-bottom.hidden{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Companies
*/
.companies-page{

    .companies-page-content{

        .page-row{

            .companies-content{

                .companies-content-inner{

                    .companies-content-posts-inner{

                        .companies-content-post{
                            background: white;
                            border-radius: 5px;
                            box-shadow: $box-shadow;
                            border: 1px solid #eee;
                            padding: 20px;
                            margin-bottom: 20px;

                            .companies-content-post-inner{
                                display: flex;
                                gap: 20px;

                                .companies-content-post-image{
                                    text-align: left;
                                    margin-bottom: 20px;

                                    img{
                                        max-width: 100px;
                                        border-radius: 50%;
                                    }
                                }

                                .companies-content-post-details{
                                    width: 100%;
                                    
                                    .companies-content-post-name{
                                        margin-bottom: 10px;
                                        padding-bottom: 10px;
                                        border-bottom: 1px solid #eee;

                                        h2{
                                            font-size: 20px;
                                            margin-bottom: 0px;
                                        }

                                        p{
                                            font-size: 16px;
                                            margin-bottom: 0px;
                                        }
                                    
                                    }
                                }
                            }
                        }
                    }

                    .companies-content-navigation{
                        background: white;
                        border-radius: 5px;
                        box-shadow: $box-shadow;
                        border: 1px solid #eee;
                        padding: 0px;
        
                        // Make sure height is auto
                        height: auto;
        
                        .companies-content-navigation-header{
                            border-bottom: 1px solid #eee;
                            padding: 20px;
                            padding-bottom: 10px;
        
                            h2{
                                font-size: 30px;
                            }
                        }
        
                        .companies-content-navigation-inner{
        
                            ul{
                                list-style: none;
                                padding: 0px;
                                margin: 0px;
        
                                li{
                                    padding: 10px;
                                    padding-left: 20px;
        
                                    a{
                                        text-decoration: none;
                                        color: #333;
                                    }
        
                                    &.active{
                                        background: $background-color;
                                        padding-left: 20px;
        
                                        a{
                                            color: white;
                                        }
                                    }
        
                                    &:hover{
                                        background: $background-color;
                                        padding-left: 20px;
        
                                        a{
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .companies-content-form-header{
                        margin-bottom: 20px;
                    }

                    .company{
                        background: white;
                        border-radius: 5px;
                        box-shadow: $box-shadow;
                        border: 1px solid #eee;
                        padding: 20px;
                        margin-bottom: 20px;

                        display: flex;
                        gap: 20px;

                        .company-logo{
                            text-align: left;
                            margin-bottom: 20px;

                            img{
                                max-width: 100px;
                                border-radius: 50%;
                            }
                        }

                        .company-details{
                            width: 100%;
                            
                            .company-name{
                                margin-bottom: 10px;
                                padding-bottom: 10px;
                                border-bottom: 1px solid #eee;

                                h2{
                                    font-size: 20px;
                                    margin-bottom: 0px;
                                }

                                p{
                                    font-size: 16px;
                                    margin-bottom: 0px;
                                }
                            
                            }
                        }
                    }

                    .companies-content-form{
                        background: white;
                        border-radius: 5px;
                        box-shadow: $box-shadow;
                        border: 1px solid #eee;
                        padding: 20px;
                        margin-bottom: 20px;

                    }

                    .side-block{
                        background: white;
                        border-radius: 5px;
                        box-shadow: $box-shadow;
                        border: 1px solid #eee;
                        padding: 20px;
                        margin-bottom: 20px;

                        .side-block-header{
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #eee;

                            h3{
                                font-size: 20px;
                            }
                        }

                        .side-block-content{

                            

                            p.no_items{
                                font-size: 16px;
                                margin-bottom: 0px;
                            }
                        }

                        .side-block-content.actions{

                            a.btn{
                                width: 100%;
                                margin-bottom: 10px;

                                &:last-child{
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Search
*/
.search-page{

    .search-page-inline-navigation{
        background: white;
        border-radius: 5px;
        box-shadow: $box-shadow;
        border: 1px solid #eee;
        padding: 20px;
        margin-bottom: 20px;

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            text-align: center;

            li{
                display: inline;
                margin-right: 40px;

                a{
                    text-decoration: none;
                    color: #333;
                }
            }

            li:hover, li.active{
                border-bottom: 2px solid $background-color;
                padding-bottom: 20px;

                a{
                    color: $background-color;
                }
            }

            li:last-child{
                margin-right: 0px;
            }
        }
    }

    .search-page-content{

        .search-page-content-inner{

            .search-page-primary-results{
                align-items:flex-start;

                .jobs-search-main-header{
                    border-bottom: 1px solid #eee;
                    padding-bottom: 10px;

                    h2{
                        margin-bottom: 0px;
                    }
                }

                .jobs-search-main{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    margin-bottom: 20px;
                    flex-wrap:nowrap;
                    padding: 0px;

                    .jobs-search-main-header{
                        padding: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .jobs-search-main-results{

                        .user-search-main-result{
                            padding: 20px;

                            .user-search-main-result-inner{

                                .user-search-main-result-left{

                                    .user-search-main-result-left-inner{
                                        display: flex;
                                        gap: 20px;

                                        .user-search-main-result-left-image{
                                            text-align: left;
                                            margin-bottom: 20px;

                                            img{
                                                max-width: 100px;
                                                border-radius: 50%;
                                            }
                                        }

                                        .user-search-main-result-left-content{
                                            width: 100%;

                                            h3{
                                                font-size: 20px;
                                                margin-bottom: 0px;
                                            }

                                            p{
                                                font-size: 16px;
                                                margin-bottom: 0px;
                                            }

                                            .skills{
                                                margin-top: 10px;
                                                margin-bottom: 5px;

                                                .tag{
                                                    display: inline-block;
                                                    padding: 5px 10px;
                                                    background: $primary-color;
                                                    border-radius: 5px;
                                                    margin-right: 5px;
                                                    
                                                    p{
                                                        color: white;
                                                        font-weight: 600;
                                                    }
                                                }
                                            
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .jobs-search-main-footer{
                            border-top: 1px solid #eee;
                            padding-top: 20px;
                        }

                        .job-box{
                            background: white;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 20px;
                            border-bottom: 1px solid #eee;

                            &:last-child{
                                border-bottom: none;
                            }

                            .job-details{
                                display: flex;
                                justify-content: flex-start;
                                gap: 10px;

                                .job-logo{
                                    text-align: left;
                                    margin-bottom: 20px;

                                    img{
                                        max-width: 50px;
                                        border-radius: 50%;
                                    }
                                }

                                .job-details-title{       
                                    width: 100%;                             

                                    h2{
                                        font-size: 20px;
                                        margin-bottom: 0px;

                                        .date{
                                            font-size: 16px;
                                            color: #aaa;
                                            font-weight: 450;
                                        }
                                    }

                                    p{
                                        font-size: 16px;
                                        margin-bottom: 0px;
                                    }
                                    
                                }
                            }
                        }

                        p.no_jobs{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }

                .side-area{
                        
                    .side-block{
                        background: white;
                        border-radius: 5px;
                        box-shadow: $box-shadow;
                        border: 1px solid #eee;
                        padding: 20px;
                        margin-bottom: 20px;

                        .side-block-header{
                            border-bottom: 1px solid #eee;
                            padding-bottom: 10px;

                            h2, h3{
                                font-size: 20px;
                                margin-bottom: 0px;
                            }

                            p{
                                font-size: 16px;
                                margin-bottom: 0px;
                            
                                color: #aaa;
                            }
                        }

                        .side-block-content{
                            margin-top: 10px;

                            .side-block-footer{
                                border-top: 1px solid #eee;
                                padding-top: 20px;
                            }

                            .company-box:last-child{
                                margin-bottom: 0px;
                            }

                            .user-box:last-child{
                                margin-bottom: 0px;
                            }

                            .company-box {
                                cursor: pointer;
                                display: flex;
                                gap: 15px;
                                margin-bottom: 10px;

                                &:last-child{
                                    margin-bottom: 0px;
                                }

                                .company-logo{
                                    text-align: left;
                                    margin-bottom: 20px;

                                    img{
                                        max-width: 50px;
                                        border-radius: 50%;
                                    }
                                }

                                .company-details{
                                    width: 100%;
                                    
                                    .company-name{
                                        padding-bottom: 10px;

                                        h2{
                                            font-size: 20px;
                                            margin-bottom: 0px;
                                        }

                                        p{
                                            font-size: 16px;
                                            margin-bottom: 0px;
                                        }
                                    
                                    }
                                }
                            }

                            .user-box {
                                cursor: pointer;
                                display: flex;
                                gap: 15px;
                                margin-bottom: 10px;

                                &:last-child{
                                    margin-bottom: 0px;
                                }

                                .user-logo{
                                    text-align: left;
                                    margin-bottom: 20px;

                                    img{
                                        max-width: 50px;
                                        border-radius: 50%;
                                    }
                                }

                                .user-details{
                                    width: 100%;
                                    
                                    .user-name{
                                        padding-bottom: 10px;

                                        h2{
                                            font-size: 20px;
                                            margin-bottom: 0px;
                                        }

                                        p{
                                            font-size: 16px;
                                            margin-bottom: 0px;
                                        }
                                    
                                    }
                                }
                            }

                            p.no_items{
                                font-size: 16px;
                                margin-bottom: 0px;
                            }
                        }

                        .side-block-content.actions{

                            a.btn{
                                width: 100%;
                                margin-bottom: 10px;

                                &:last-child{
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }

                    .side-block.category-block, .side-block.experience-block{
                        padding: 0px;

                        .side-block-header{
                            padding: 20px;
                            border-bottom: 1px solid #eee;
                            padding-bottom: 10px;

                            h3{
                                font-size: 20px;
                                margin-bottom: 0px;
                            }

                            p{
                                font-size: 16px;
                                margin-bottom: 0px;
                            
                                color: #aaa;
                            }
                        }
                        
                        .side-block-content{
                            margin-top: 0px;
                            max-height: 200px;
                            overflow-y: auto;

                            ul.filter-links{
                                list-style: none;
                                padding: 0px;
                                margin: 0px;

                                li{
                                    padding: 10px;
                                    padding-left: 20px;

                                    a{
                                        text-decoration: none;
                                        color: #333;
                                    }

                                    &.active{
                                        background: $background-color;
                                        padding-left: 20px;

                                        a{
                                            color: white;
                                        }
                                    }

                                    &:hover{
                                        background: $background-color;
                                        padding-left: 20px;

                                        a{
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}