@import 'bootstrap.css';

/**
* Variables
*/
$box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
$text-shadow: 0px 0px 10px rgba(0,0,0,0.1);

$background-gradient: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
$background-color: #861657;

$primary-color: #861657;
$secondary-color: #ffa69e;

/**
* Global
*/

/**
* Content Holder
*/
.content-hold{
    margin-top: 60px;

}

/**
* ALerts hold
*/
.alert-hold{
    position: fixed;
    top: 70px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    padding: 20px;
    text-align: center;

    width: 500px;
    margin: 0% auto;

    .alert{
        padding-right: 1rem;
        p{
            margin-bottom: 0px;
        }
    }
}

/**
* Components
*/

/**
* Forms
*/
.form-group{
    margin-bottom: 20px;

    h3{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .inline-form-group{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        margin-bottom: 20px;

        .form-input{
            width: 48%;
        }
    }

    .form-input{
        margin-bottom: 20px;

        .picture{
            text-align: left;
            margin-bottom: 20px;

            img{
                max-width: 100px;
                border-radius: 50%;
            }
        }

        label{
            display: block;
            margin-bottom: 10px;
            font-weight: 600;
        }

        p{
            color: #333;
            font-size: 14px;
        }

        input[type="text"], 
        input[type="email"],
        input[type="password"],
        input[type="file"],
        input[type="date"],
        input[type="number"],
        input[type="tel"],
        textarea, 
        select{
            width: 100%;
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        textarea{
            height: 100px;
        }

        &:last-child{
            margin-bottom: 0px;
        }
    }

    &:last-child{
        margin-bottom: 0px;
    }
}

/**
* Buttons
*/
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &.primary{
        background: $primary-color;
        color: white;

        &:hover{
            background: darken($primary-color, 10%);
        }
    }

    &.secondary{
        background: $secondary-color;
        color: #fff;
        border: 1px solid #e0e0e0;

        &:hover{
            background: darken($secondary-color, 10%);
        }
    }

    &.skinny{
        padding: 5px 10px;
    }
}


/**
* Header
*/
.header-main{
    background: white;

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;

    z-index: 1000;

    box-shadow: $box-shadow;

    height: 60px;
    width: 100%;

    .header-main-inner{

        .header-main-row{

            .header-branding{

                .header-branding-inner{
                    padding-top: 2px;
                    
                    a{

                        img{
                            max-width: 50px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .header-search{
                padding-top: 6px;

                .header-search-inner{

                    form{

                        input{
                            border: 1px solid #e0e0e0;
                            border-radius: 5px;
                            padding: 10px;
                            width: 100%;

                            background: #e0e0e0;

                            &:focus{
                                background: white;
                                outline: none;
                            }
                        }

                        button{
                            background: #f8f8f8;
                            border: 1px solid #e0e0e0;
                            border-radius: 5px;
                            padding: 10px;
                            margin-left: 10px;
                            position: relative;
                            top: -20px;
                        }
                    }
                }
            }

            .header-navigation{
                padding-top: 6px;

                .header-navigation-inner{
                    padding-top: 8px;

                    ul{
                        list-style: none;
                        padding: 0px;
                        margin: 0px;
                        text-align: right;

                        li{
                            display: inline;
                            margin-right: 20px;

                            a{
                                text-decoration: none;
                                color: #333;
                            }
                        }

                        li.profile_picture{
                            margin-right: 20px;

                            a{

                                img{
                                    max-width: 35px;
                                    border-radius: 50%;
                                }
                            }
                        }

                        li.dropdown{
                            margin-right: 20px;

                            a{
                                text-decoration: none;
                                color: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Footer
*/

/**
* Pages
*/
.page{
    min-height: 100vh;
    background: #f8f8f8;

    .page-header{
        background-color: $background-color;
        background-image: $background-gradient;

        width: 100%;
        padding: 60px 0px;


        .page-header-container{
            padding: 20px;
            border-radius: 5px;

           .page-header-title{
                margin-bottom: 20px;
    
                h1{
                     font-size: 40px;
                     text-shadow: $text-shadow;
                     color: white;
                }
           }

           .page-header-subtext{

                h2{
                    font-size: 30px;
                    font-weight: 300;

                    color: white;
                }
           }
        }
    }

    .page-content{
        padding: 20px;

        .page-row{
            margin-bottom: 20px;
            justify-content: space-between;

        }
    }
}

/**
* Onboarding
*/
.onboarding-content{
    padding-top: 60px;
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);

    .onboarding-content-inner{
        
        .onboarding-content-header{
            margin-bottom: 50px;
            text-align: center;
            color: white;
            padding: 20px;

            h1{
                font-size: 40px;
            }

            p{
                font-size: 20px;
            }
        }

        .onboarding-content-box{
            background: white;
            border-radius: 5px;
            padding: 20px;
            box-shadow: $box-shadow;

            width: 500px;
            margin: 0 auto;

            .onboarding-content-box-form{

                form{

                    .onboarding-form-area{
                        margin-bottom: 20px;

                        h2{
                            font-size: 30px;
                            margin-bottom: 20px;
                        }

                        .form-area-elements{
                            margin-bottom: 20px;

                            .profile_picture{
                                text-align: left;
                                margin-bottom: 20px;

                                img{
                                    max-width: 100px;
                                    border-radius: 50%;
                                }
                            }

                            .form-area-elements-inline{
                                display: flex;
                                gap: 10px;
                                justify-content: space-between;
                                margin-bottom: 20px;

                                .form-area-element{
                                    width: 48%;

                                    label{
                                        display: block;
                                        margin-bottom: 10px;
                                    }

                                    input{
                                        width: 100%;
                                        padding: 10px;
                                        border: 1px solid #e0e0e0;
                                        border-radius: 5px;
                                    }

                                }
                            }

                            .form-area-element{

                                label{
                                    display: block;
                                    margin-bottom: 10px;
                                }

                                input, textarea{
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #e0e0e0;
                                    border-radius: 5px;
                                }

                                textarea{
                                    height: 100px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Settings
*/
.settings-page{

    .page-content{

        .row{
 
            .left-navigation{
                background: white;
                border-radius: 5px;
                box-shadow: $box-shadow;
                border: 1px solid #eee;
                padding: 0px;

                // Make sure height is auto
                height: 300px;

                .left-navigation-header{
                    border-bottom: 1px solid #eee;
                    padding: 20px;
                    padding-bottom: 10px;

                    h2{
                        font-size: 30px;
                    }
                }

                .left-navigation-menu{

                    ul{
                        list-style: none;
                        padding: 0px;
                        margin: 0px;

                        li{
                            padding: 10px;
                            padding-left: 20px;

                            a{
                                text-decoration: none;
                                color: #333;
                            }

                            &.active{
                                background: $background-color;
                                padding-left: 20px;

                                a{
                                    color: white;
                                }
                            }

                            &:hover{
                                background: $background-color;
                                padding-left: 20px;

                                a{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .settings-content{
                

                .settings-content-inner{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;

                    .settings-content-form-header{
                        margin-bottom: 20px;

                        h2{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Profile
*/
.profile-page{

    .profile-page-header{
        background-color: $background-color;
        background-image: $background-gradient;

        width: 100%;
        padding: 60px 0px;

        .page-header-container{
            padding: 20px;
            border-radius: 5px;

            .profile-page-header-inner{


                .profile-page-header-image{
                    text-align: center;

                    img{
                        max-width: 200px;
                        border-radius: 50%;
                    }
                }

                .profile-page-header-content{

                    .profile-page-header-content-inner{
                        padding-top: 20px;
    
                        .profile-page-header-content-title{
                            margin-bottom: 10px;
                            text-align: center;
    
                            h1{
                                font-size: 40px;
                                color: white;
                            }
                        }

                        .profile-page-header-content-subtitle{
                            text-align: center;
    
                            h2{
                                font-size: 20px;
                                font-weight: 300;
    
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .profile-page-inline-navigation{
        background: white;
        border-radius: 5px;
        box-shadow: $box-shadow;
        border: 1px solid #eee;
        padding: 20px;
        margin-bottom: 20px;

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            text-align: center;

            li{
                display: inline;
                margin-right: 40px;

                a{
                    text-decoration: none;
                    color: #333;
                }
            }

            li:hover, li.active{
                border-bottom: 2px solid $background-color;
                padding-bottom: 20px;

                a{
                    color: $background-color;
                }
            }

            li:last-child{
                margin-right: 0px;
            }
        }
    }   

    .profile-page-content{
        padding: 20px;

        .profile-page-content-inner{

            .profile-page-resume-content-middle{
                background: white;
                border-radius: 5px;
                box-shadow: $box-shadow;
                border: 1px solid #eee;
                padding: 20px;
                margin-bottom: 20px;

                .profile-page-content-header{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    h1{

                    }
                }
            }

            .profile-page-about-content-middle{

                .profile-page-about-cover-letter{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-cover-letter-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-cover-letter-content{

                        p{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }

                .profile-page-about-skills{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-skills-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-skills-content{

                        .profile-page-about-skills-content-item{
                            // Inline pill style
                            display: inline-block;
                            padding: 7px 12px;
                            background: $primary-color;
                            border-radius: 5px;
                            margin-right: 5px;

                            p{
                                color: white;
                                font-weight: 600;
                            }
                        }

                        p{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }

                .profile-page-about-experience{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-experience-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-experience-content{

                        .profile-page-about-experience-content-item{
                            margin-bottom: 20px;

                            h3{
                                font-size: 20px;
                                margin-bottom: 10px;
                            }

                            p{
                                font-size: 16px;
                                margin-bottom: 0px;
                            }

                            p.dates{
                                color: #aaa;
                            }

                            &:last-child{
                                margin-bottom: 0px;
                            }

                            .experience-actions{
                                margin-top: 10px;
                            }
                        }

                        p.no_experience{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }

                .profile-page-about-education{
                    background: white;
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    border: 1px solid #eee;
                    padding: 20px;
                    margin-bottom: 20px;

                    .profile-page-about-education-header{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;

                        h2{
                            position: relative;
                            top: 5px;
                        }
                    }

                    .profile-page-about-education-content{

                        .profile-page-about-education-content-item{
                            margin-bottom: 20px;

                            h3{
                                font-size: 20px;
                                margin-bottom: 10px;
                            }

                            p{
                                font-size: 16px;
                                margin-bottom: 0px;
                            }

                            p.dates{
                                color: #aaa;
                            }

                            &:last-child{
                                margin-bottom: 0px;
                            }

                            .education-actions{
                                margin-top: 10px;
                            }
                        }

                        p.no_education{
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

.tags{

    .tag{
        display: inline-block;
        padding: 5px 10px;
        background: $primary-color;
        border-radius: 5px;
        margin-right: 5px;
        
        p{
            color: white;
            font-weight: 600;
        }
    }
}

/**
* Page: Auth
*/
.auth-page{
    
    .auth-page-header{
        
    }

    .auth-page-content{

        .auth-page-content-inner{
            background: white;
            border-radius: 5px;
            box-shadow: $box-shadow;
            border: 1px solid #eee;
            padding: 20px;
            margin: 0% auto;

            width: 500px;

            .auth-page-content-form-header{
                margin-bottom: 20px;

                h2{
                    font-size: 30px;
                }
            }
        }
    }
}

/**
* Page: Dashboard
*/
.dashboard-page{

    .dashboard-header{
        background-color: $background-color;
        background-image: $background-gradient;

        width: 100%;
        padding: 40px 0px;

        .page-header-container{
            padding: 20px;
            border-radius: 5px;

            .dashboard-page-header-inner{

                .dashboard-page-header-content{
                    text-align: center;

                    h1{
                        font-size: 40px;
                        color: white;
                    }

                    p{
                        font-size: 20px;
                        color: white;
                    }
                }
            }
        }
    }

    .dashboard-page-inline-navigation{
        background: white;
        border-radius: 5px;
        box-shadow: $box-shadow;
        border: 1px solid #eee;
        padding: 20px;
        margin-bottom: 20px;

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            text-align: center;

            li{
                display: inline;
                margin-right: 40px;

                a{
                    text-decoration: none;
                    color: #333;
                }
            }

            li:hover, li.active{
                border-bottom: 2px solid $background-color;
                padding-bottom: 20px;

                a{
                    color: $background-color;
                }
            }

            li:last-child{
                margin-right: 0px;
            }
        }
    }

    .dashboard-page-content{
        padding: 20px;

        .dashboard-page-content-inner{

            .dashboard-page-content-box{
                background: white;
                border-radius: 5px;
                box-shadow: $box-shadow;
                border: 1px solid #eee;
                padding: 20px;
                margin-bottom: 20px;

                .dashboard-page-content-box-header{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    h1{

                    }
                }
            }
        }
    }
}